body {
  background-color: #e4e6eb;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

//Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}
.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;

      &.active {
        font-weight: bold;
        color: #071c4d;
      }
    }
  }
}
.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0px;
}
.btn-login {
  background-color: #071c4d;
  color: #ffff;
  &:hover {
    background-color: #20418f;
    color: #ffff;
  }
}

//Header
header {
  margin-top: -70px;
  padding: 180px 0 165px;
  background-image: url(../images/header.jpg);
  background-size: cover;

  h1,
  p {
    color: #ffff;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #ffff;

    &:hover {
      background-color: #c75e0e;
      color: #ffff;
    }
  }
}

//Statistic
.section-stats {
  margin-top: -50px;
  .stats-detail {
    padding-top: 15px;
    padding-left: 40px;
    background-color: #ffff;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

//Popular

.section-popular {
  min-height: 540px;
  margin-top: -50px;
  margin-bottom: -230px;
  background-color: #051334;

  .section-popular-heading {
    margin-top: 150px;
  }

  h2,
  p {
    color: #fff;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}
